/* Debug */

aside {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: calc(100vh - 130px);
    padding-left: 15px;
    background-color: black;
    overflow: hidden;
}

main {
    display: flex;
    overflow: auto;
    background-color: lightgreen;
}

footer {
    height: 130px;
    background-color: grey;
}


/* /Debug */


/* Common */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #6F6F6F;
}


/* Aside */

aside>ul {
    list-style: none;
}

aside li {
    margin: 5px 0;
}

aside>img {
    width: 85%;
    padding: 7% 0;
}

#library-icon>span {
    display: inline-block;
    width: 2px;
    height: 20px;
    margin: 0 3px;
    background-color: #6F6F6F;
}

#library-icon>span:last-child {
    transform: rotate(347deg);
}

#playlist-menu {
    margin-top: 15px;
    overflow: auto;
}

#playlist-menu>li:first-child {
    text-transform: uppercase;
    color: white;
}

#bottom-aside {
    margin-top: auto;
    padding: 5% 0;
}

#bottom-aside>hr {
    width: 90%;
    margin: 5% 0;
    border-color: #6F6F6F;
}

#user {
    display: flex;
    align-items: center;
}

#user>img {
    width: 30px;
    height: 30px;
    margin-right: 5%;
    background-color: grey;
    border-radius: 50%;
}

#user>span {
    color: white;
}