/* Debug */


/* /Debug */


/* Common */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #6F6F6F;
}

ul {
    list-style: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
}


/* Text Rules */

h2,
h3 {
    color: white;
}

.text-center {
    text-align: center;
}


/* Main */

main {
    display: flex;
    overflow: auto;
}


/* Aside */

aside {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 200px;
    height: calc(100vh - 120px);
    padding-left: 15px;
    background-color: black;
    overflow: hidden;
}

aside li {
    margin: 5px 0;
}

aside>img {
    width: 70%;
    padding: 7% 0;
}

#library-icon>span {
    display: inline-block;
    width: 2px;
    height: 20px;
    margin: 0 3px;
    background-color: #6F6F6F;
}

#library-icon>span:last-child {
    transform: rotate(347deg);
}

#playlist-menu {
    margin-top: 15px;
    overflow: auto;
}

#playlist-menu>li:first-child {
    text-transform: uppercase;
    color: white;
}

#bottom-aside {
    margin-top: auto;
    padding: 5% 0;
}

#bottom-aside>hr {
    width: 90%;
    margin: 5% 0;
    border-color: #6F6F6F;
}

#user {
    display: flex;
    align-items: center;
}

#user>img {
    width: 30px;
    height: 30px;
    margin-right: 5%;
    background-color: grey;
    border-radius: 50%;
}

#user>span {
    color: white;
}


/* /Aside */


/* Albums-section */

#albums-section {
    width: 100%;
    height: calc(100vh - 120px);
    padding: 100px 0 0 2%;
    overflow: auto;
    background-color: #141922;
}

#albums-section>ul>li {
    display: inline-block;
    margin: 0 1%;
    text-transform: uppercase;
}

.album-box {
    width: 220px;
    text-align: center;
    margin: 2%;
    margin-left: 0;
}

.album-box>img {
    width: 100%;
}

#albums-section>.row:last-child img {
    border-radius: 50%;
}


/* Footer */

footer {
    height: 120px;
    background-color: #282828;
}

footer>div {
    height: 100%;
}

.album-banner,
.volume {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.album-banner,
.volume {
    width: 18%;
    font-size: 14px;
}

.album-banner>img {
    width: 90px
}

.player {
    width: 64%;
    color: white;
    font-size: 24px;
}

.command {
    line-height: 78px;
}

.command>i {
    margin: 2%;
    vertical-align: middle;
}

.player i[class*="circle"] {
    font-size: 38px;
    margin: 1%;
}

#music-scroll {
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.music-scroll-bar {
    width: 60%;
    height: 8px;
    margin: 0 1%;
    border-radius: 15px;
    background-color: #6F6F6F;
}

#audio-scroll {
    width: 45%;
    height: 8px;
    border-radius: 15px;
    background-color: #6F6F6F;
}